.create-new-object {
    margin-bottom: 20px;
    float: right;
}

.edit-object {
    margin-bottom: 20px;
    float: right;
}

/* Ticket types */
.ticket_severity_low {
    background: #FCF8E3;
    color: #C09853;
    border-color: #C09853;
}

.ticket_severity_normal {
    background: #DFF0D8;
    color: #468847;
    border-color: #468847;
}

.ticket_severity_high {
    color: #3A87AD;
    border-color: #3A87AD;
    background: #D9EDF7;
}

.ticket_severity_critical {
    color: #B94A48;
    border: color: #B94A48;
    background: #F2DEDE;
}

/* /Ticket types */
