{% extends "base.html" %}

{% block title %}
    Create new blog entry
{% endblock %}


{% block content %}
  <h1> Create new blog entry </h1><hr/>

  <form accept-charset="utf-8" method="post" action="{% url new_entry %}">
    {% csrf_token %}
    <div class="control-group">
      <label for="form_title">Title</label>
      {{ form.errors.title }}
      <input name="title" type="text" value="{{ form.data.title }}" class="span9">
    </li>

    <div class="control-group">
      <label for="form_content">Content</label>
      <textarea class="span9" name="content" rows="10" cols="50"type="text">{{ form.data.content|safe}}</textarea><br>
    </div>
    <input name="submit" value="Create" class="btn btn-primary" type="submit" size="30">
    <div class="clear"></div>
  </form>
{% endblock %}
