{% extends "webEval_base.html" %}
{% block title %}
	Edit problem {{ problem.code }}
{% endblock %}

{% block wiki_page %}
    <ul class="htabs">
		<li >
		    <a href="{% url edit_problem_statement problem_code=problem.code %}">Statement</a>
		</li>
		<li class>
		    <a href="{% url configure_problem problem_code=problem.code %}">Configure</a>
		</li>
		<li class="active">
		    <a href="{% url edit_problem_tags problem_code=problem.code %}">Tags</a>
		</li>
    </ul>
	<h1> Edit problem <a href="{% url display_problem problem_code=problem.code %}">{{ problem.name }}</a></h1>
{% endblock %}
